name:  Deploy n10 to Digital Ocean
on:
  push:
    branches: [ main ]
jobs:
  deploy-n10:
    runs-on: ubuntu-latest

    steps:
    - name: SSH into Digital Ocean
      uses: appleboy/ssh-action@v1.0.3
      with:
        host: ${{ secrets.HOST }}
        username: ${{ secrets.USERNAME }}
        key: ${{ secrets.SSH_PRIVATE_KEY }}
        port: 22
        debug: true
        script: |
          export PATH="$HOME/.bun/bin:$PATH"
          cd n10/
          git pull origin main
          bun install && bun turbo build
          pm2 reload ecosystem.config.js || pm2 restart ecosystem.config.js
          
          sudo rm -rf /var/www/n10/*
          sudo mkdir -p /var/www/n10/assets
          sudo cp -r apps/frontend/dist/* /var/www/n10/
          sudo chown -R www-data:www-data /var/www/n10/
          sudo chmod -R 644 /var/www/n10/*
          sudo chmod 755 /var/www/n10 /var/www/n10/assets
          
          sudo nginx -t && sudo systemctl reload nginx

    