name:  Deploy n10 to Digital Ocean
on:
  push:
    branches: [ main ]
jobs:
  deploy-n10:
    runs-on: ubuntu-latest

    steps:
    - name: SSH into Digital Ocean
      uses: appleboy/ssh-action@v1.0.3
      with:
        host: ${{ secrets.HOST }}
        username: ${{ secrets.USERNAME }}
        password: ${{ secrets.SSH_PASSWORD }}
        port: 22
        debug: true
        script: |
          export PATH="/root/.nvm/versions/node/v24.9.0/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/games:/usr/local/games:/snap/bin"
          export NVM_DIR="$HOME/.nvm"
          [ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"
          source ~/.bashrc
          cd n10/
          
          git pull origin main
          
          bun install
          
          bun turbo build
          
          cd apps/backend
          bun prisma generate
          cd ../..
          
          pm2 stop ecosystem.config.js || true
          
          pm2 start ecosystem.config.js || pm2 reload ecosystem.config.js
          
          pm2 save
          
          echo "Deployment complete!"
          pm2 status