name:  Deploy n10 to Digital Ocean
on:
  push:
    branches: [ main ]
jobs:
  deploy-n10:
    runs-on: ubuntu-latest

    steps:
    - name: SSH into Digital Ocean
      uses: appleboy/ssh-action@v1.0.3
      with:
        host: ${{ secrets.HOST }}
        username: ${{ secrets.USERNAME }}
        password: ${{ secrets.SSH_PASSWORD }}
        port: 22
        debug: true
        script: |
          source ~/.bashrc
          cd n10/
          
          git pull origin main
          
          bun install
          
          bun turbo build
          
          cd apps/backend
          bun prisma generate
          cd ../..
          
          pm2 stop ecosystem.config.js || true
          
          pm2 start ecosystem.config.js || pm2 reload ecosystem.config.js
          
          pm2 save
          
          echo "Deployment complete!"
          pm2 status